
.App {
	height: 100vh;
}

.register-form {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 50px;
}

.register-form > .MuiFormControl-root {
	width: 500px;
}

header a {
	text-decoration: none;
	color: inherit;
}

.cart-list {
	display: flex;
	align-items: center;
}

.cart-list-item {
	display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cart-list-item-action {
	display: flex;
    justify-content: center;
    align-items: center;
}
